<a href="https://colab.research.google.com/github/goodcoder5/LGMVIP-DataScience/blob/main/stock_market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libararies

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

Loading dataset

In [ ]:
dataset = pd.read_csv('ds.csv')

In [ ]:
dataset

     Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0     2018-09-28,234.05,235.95,230.2,233.5,233.75,30...
1     2018-09-27,234.55,236.8,231.1,233.8,233.25,508...
2     2018-09-26,240,240,232.5,235,234.25,2240909,52...
3     2018-09-25,233.3,236.75,232,236.25,236.1,23493...
4     2018-09-24,233.55,239.2,230.75,234,233.3,34235...
...                                                 ...
2030  2010-07-27,117.6,119.5,112,118.8,118.65,586100...
2031  2010-07-26,120.1,121,117.1,117.1,117.6,658440,...
2032  2010-07-23,121.8,121.95,120.25,120.35,120.65,2...
2033  2010-07-22,120.3,122,120.25,120.75,120.9,29331...
2034  2010-07-21,122.1,123,121.05,121.1,121.55,65866...

[2035 rows x 1 columns]

Describe the data

In [ ]:
dataset.describe()

       Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
count                                                2035
unique                                               2035
top     2013-04-04,129,130.5,126.8,127.6,127.4,1300935...
freq                                                    1

In [ ]:
dataset.tail()

     Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
2030  2010-07-27,117.6,119.5,112,118.8,118.65,586100...
2031  2010-07-26,120.1,121,117.1,117.1,117.6,658440,...
2032  2010-07-23,121.8,121.95,120.25,120.35,120.65,2...
2033  2010-07-22,120.3,122,120.25,120.75,120.9,29331...
2034  2010-07-21,122.1,123,121.05,121.1,121.55,65866...

In [ ]:
dataset.dtypes

Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)    object
dtype: object

In [ ]:
data = dataset.filter(['close'])
ds = dataset.values
training_data_len = math.ceil(len(dataset)*8)
training_data_len

16280

In [ ]:
dataset

     Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0     2018-09-28,234.05,235.95,230.2,233.5,233.75,30...
1     2018-09-27,234.55,236.8,231.1,233.8,233.25,508...
2     2018-09-26,240,240,232.5,235,234.25,2240909,52...
3     2018-09-25,233.3,236.75,232,236.25,236.1,23493...
4     2018-09-24,233.55,239.2,230.75,234,233.3,34235...
...                                                 ...
2030  2010-07-27,117.6,119.5,112,118.8,118.65,586100...
2031  2010-07-26,120.1,121,117.1,117.1,117.6,658440,...
2032  2010-07-23,121.8,121.95,120.25,120.35,120.65,2...
2033  2010-07-22,120.3,122,120.25,120.75,120.9,29331...
2034  2010-07-21,122.1,123,121.05,121.1,121.55,65866...

[2035 rows x 1 columns]

In [ ]:
dataset = dataset.iloc[:, 0:5]
dataset

     Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0     2018-09-28,234.05,235.95,230.2,233.5,233.75,30...
1     2018-09-27,234.55,236.8,231.1,233.8,233.25,508...
2     2018-09-26,240,240,232.5,235,234.25,2240909,52...
3     2018-09-25,233.3,236.75,232,236.25,236.1,23493...
4     2018-09-24,233.55,239.2,230.75,234,233.3,34235...
...                                                 ...
2030  2010-07-27,117.6,119.5,112,118.8,118.65,586100...
2031  2010-07-26,120.1,121,117.1,117.1,117.6,658440,...
2032  2010-07-23,121.8,121.95,120.25,120.35,120.65,2...
2033  2010-07-22,120.3,122,120.25,120.75,120.9,29331...
2034  2010-07-21,122.1,123,121.05,121.1,121.55,65866...

[2035 rows x 1 columns]

In [ ]:
training_set = dataset.iloc[:, 1:2].values
training_set

array([], shape=(2035, 0), dtype=float64)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
data_training_scaled = scaler.fit_transform(training_set)

In [ ]:
features_set = []
labels = []
for i in range(60, 586):
  features_set.append(data_training_scaled[i-60:i, 0])
  labels.append(data_training_scaled[i, 0])

In [ ]:
features_set, labels = np.array(features_set), np.array(labels)

In [ ]:
features_set = np.reshape(features_set, (features_set.shape[0], features_set.shape[1], 1))
features_set.shape

In [ ]:
import tensorflow as tf
from tensorflow.python.keras.models import sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.layers import LSTM

In [ ]:
model = sequential()
model.compile(optimizer = 'adam', loss = 'mean_squared_error')
model.fit(features_set, labels, epochs = 50, batch_size = 20)

In [ ]:
data_testing_complete = pd.read_csv('ds.csv')
data_testing_processed = data_testing_complete.iloc[:, 1:2]
data_testing_processed

In [ ]:
data_total = pd.concate((data_set['open'], data_set['open']), axis = 0)
test_inputs = data_total[len(data_total)- len(dataset)- 60:].values
test_inputs.shape

In [ ]:
prediction = model.predict(test_features)

In [ ]:
np.random.seed(1)
np.random.randn(3, 3)

In [ ]:
np.random.normal(1)

In [ ]:
np.random.normal(5)

In [ ]:
plt.figure(figsize=(18, 6))
plt.title('stock market prediction')
plt.plot(data_testing_complete['close'])
plt.xlabel('Data', fontsize=18)
plt.ylabel('Total trade quantity', fontsize=18)
plt.show()